/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
}

video {
  width: 100%;
  height: auto;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin: 0 0 0 0;
}

.canvas-container {
  position: relative;
  background-color: black;
}

.code-container {
  position: relative;
  background-color: black;
  grid-column: 1 / 4;
}
code {
  position: relative;
  color: white;
  display: inline-block;
}

.wrapper {
  display: grid;
/*   grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0px;
  grid-auto-rows: minmax(100px, auto);
}
