/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
}

h1 {
  font-style: italic;
  color: #373fff;
}

/* .main {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}
 */

.code {
  margin: 1em;
  padding: 1em;
  background-color: aliceblue;
  display: none;
}

.reload { 
  text-decoration: underline;
  cursor: pointer;
}

#editors {
  display: flex;
}

.container {
  width:50%;
}

#editor-container .CodeMirror {
  background-color: plum;
}

#hydra-container .CodeMirror {
  background-color: salmon;
}
