/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
}

video {
  width: 100%;
  height: auto;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin: 0 0 0 0;
}

/* hahaha */
#video-key-sound {
  transform: rotate(180deg);
}

.canvas-container {
  position: relative;
  background-color: black;
}

.code-container {
  position: relative;
  background-color: black;
/*   grid-column: 1 / 2; */
  width: 50vw;
}
code {
  position: relative;
  color: white;
  display: inline-block;
  white-space: pre;
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
/*   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  gap: 0px;
  grid-auto-rows: minmax(100px, auto);
}

#cursor {
  position: absolute;
  width: 60px;
  height: auto;
  z-index: 10
}