/* CSS files add styling rules to your content */

html,
body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.reload {
  text-decoration: underline;
  cursor: pointer;
}

#editors {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
  z-index: 1;
  width: 100%;
  height: 100%;
}

span[role=presentation] {
  background-color: rgba(0, 0, 0, 0.7);
}

#editor-container .CodeMirror {
  font-family: "VT323", monospace;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
  width: 100%;
  height: 100%;

  font-size: 20pt;
  background-color: rgba(255, 255, 255, 0);
}

#canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.styled-background {
  background-color: salmon
}

iframe {
  border: none;
  margin: 0;
  padding: 0;
}